.table-icon{
    cursor: pointer;
    font-size: 20px;
}
.table-icon:hover{
    color:red
}
.checkout-btn{
    border: 1.5px solid orange;
    transition: 0.8s;
    font-family: Roboto;
}

.checkout-btn:hover{
    background-color: rgb(253, 193, 83,0.8);
    color: white;
}
.notLoginCart{
    margin-top: 30px;
    background-image: url('../assets/images/NotLogin.jpg');
    min-height: 90vh;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-empty-cart{
    margin-top: 30px;
    background-image: url('../assets/images/emptyCart\ .png');
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.empty-cart-title{
    align-self:center ;
}
.z-i-2{
    z-index: 2;
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0, 0.1); 
    font-weight: bold;
    color: dark;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;  
}

.last-Order{
    float: left;
    padding: 10px;
    width: 40%;
    margin: 20px ;
    background: white;
    border-radius: 20px;
    box-shadow: 4px 8px 20px rgba(0,0,0, 0.7);
    /* margin: 10px; */
}
.last-Order-details{
    font-weight: bold;
    margin-top: 5px;
}
.last-Order:hover{
    box-shadow: 2px 4px 20px rgba(0,0,0, 0.4);
}
.last-Order-img{
    height: 80px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.last-Order-flex{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: auto;
  }
.last-Order-item{
    padding: 8px;
    margin: 5px;
}
.last-Order-total{
    color:black;
    display: block;
}
.Popup-button-del,.Popup-button-back{
 width: 45%;
 padding: 7px;
 text-decoration: none;
 border:1px solid black;
border-radius: 15px;
margin: 2px;
}
.Popup-button-del{
    background: rgb(3, 0, 0);
    color: white;
    transition: 1s;
}
.Popup-button-del:hover{
    background:white;
    color: black;
}
@media (max-width:1400px){
    .last-Order{
        margin: 20px auto;
        float: none;
        width: 60%;
    }
    .last-Order-flex{
        /* grid-template-columns: repeat(4,1fr); */
    }

}

@media (max-width:1000px){
    .last-Order-flex{
        grid-template-columns: repeat(3,1fr);
    }
    .last-Order{
        margin: 20px auto;
        float: none;
        padding: 10px;
        width: 70%;
        /* margin: 10px; */
    }
    
}
@media (max-width:650px){
    .last-Order{
        width: 100%;
    }
    .home-header{
        height: 500px;
    }
}

@media (max-width:350px){
    .last-Order-flex{
        grid-template-columns: repeat(2,1fr);
    }
}

