.icon{
  color: white;
  cursor: pointer;
  padding: 0 12px;
  text-decoration: none;
}
.icon:hover{
  color:#FF8E2B;
}
.nav-design{
  background:#0D2137;
}
header .burger {
    display: none;
  }
.footer-container{
  display: grid;
  border-top:2px solid #FF8E2B;
  background-color: #0D2137;
  grid-template-columns:1fr 1fr;
  box-sizing: border-box;
}
.grid-item span{
  font-size: 1.2em;
  color:#FF8E2B;
  text-decoration: none;
  margin:10px;
  border-bottom: 1px solid white;
  width: 50%;
  display: block;
  margin-left: 30%;
}
.footer-contact-title{
  font-size: 1.5em;
  margin-left: 15%;
  margin-top: 15px;
}
.grid-item .footer-contact{
  font-size: 1.2em;
  color:#FF8E2B;
  text-decoration: none;
  margin:10px;
  border-bottom: 1px solid white;
  width: 50%;
  display: block;
  margin-left: 10%;
}
.grid-item h4{
 font-size: 1.5em;
 display: block;
 margin-left: 35%;
 margin-top: 15px;
 width: 25%;
}
  /* header a {
    cursor: pointer;
    color:#333;
    padding: 0 12px;
    text-decoration: none;
  } */
  
  @media (max-width:991px){
    header .burger {
      display: block;
      cursor: pointer;
      color:white;
    }
    .checkOut-form-form{
      width: 100%;
      margin: 5% auto;
    }
    .z-i-2{
      width: 80%;
    }
    .errorPage{
      background-position: 55% 45% !important;
    }
    .z-i{
      margin-top: 60px;
      top: 45%;
    }
    header nav { 
      z-index: 4;
      position: absolute;
      right:0;
      top:58px;
      width:70% !important;
      background:#0D2137;
      padding:0 !important;
      display: none;
      border:1px solid grey;
    }
  
    .icon{
      display: block;
      padding:8px;
      text-align: center;
      border-bottom: 2px solid #333; 
    }
  
    .icon:hover{
      background: rgb(38, 24, 68);
      color:#FF8E2B;
    }
    .grid-item .footer-contact{
      width: 75%;
    }
  }