@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #5f4848      background-color: #5f484867;
*/
body
{
    font-family: 'Roboto', sans-serif;
    background-color: #a08f8f7a;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto ;
    background: #948e8e69;
    border-radius: 10px;
    transition:box-shadow 0.6s;
}
.product-card:hover{
    box-shadow: 0 0 25px #2c2b2b;

}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: 300px;
    padding: 30px;
    border-radius: 15px;
    background: #c4bcbca6;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fb2c2c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links i {
    display: inline-block;
    margin-left: 5px;
    color: #ffffff;
    transition: 0.3s;
    /* font-size: 17px; */
}

.product-links i:hover {
    cursor: pointer;
    color: #fbb72c;
}
.pages{
    float: left;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgba(95, 67, 253, 0.897);
    cursor: pointer;
}
.pages:hover{
    transition:0.4s;
    background: rgb(253, 115, 115);
    color: rgba(78, 78, 78, 0.705);
}


.counter{
    width: 50px !important;
    display: flex;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
}
.counter .increment{
    border-left: 1px solid black;
    transition: 0.6s;

}

.counter .decrement{
    border-right:1px solid black ;
    transition: 0.6s;

}
.counter .increment:hover,.decrement:hover{
    cursor: pointer;
    border-radius: 30px;
    background-color: orange;
}

