@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #5f4848      background-color: #5f484867;
*/
body
{
    font-family: 'Roboto', sans-serif;
    background-color: #0D2137;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 350px;
    position: relative;
    box-shadow: 0 2px 7px #ffffff;
    margin: 50px auto ;
    background-color:white;
    border-radius: 10px;
    transition:box-shadow 0.6s;
    padding: 0;
}
.product-card:hover{
    box-shadow: 0 0 25px #ffffffce;

}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    /* padding: 3px 10px; */
}
.product-title{
    display: block;
    padding: 10px;
    border-radius: 10px;
    background: #2E77AE;
    color: white;
    margin-bottom: 0;
}
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: 300px;
    padding: 20px;
    border-radius: 15px;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.product-details {
    /* padding: 30px; */
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4:hover {
    color: #FF8E2B;
}

.product-details p {
    
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #ffffff;
}

.product-bottom-details {
    background: #FF8E2B;
    border-radius: 10px;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
    
}

.product-price {
    font-size: 18px;
    color: #120061;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links i {
    display: inline-block;
    margin-left: 5px;
    color: #ffffff;
    transition: 0.3s;
    /* font-size: 17px; */
}

.product-links i:hover {
    cursor: pointer;
    color: #120061;
}
.pages{
    float: left;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgba(95, 67, 253, 0.897);
    cursor: pointer;
}
.pages:hover{
    transition:0.4s;
    background: rgb(253, 115, 115);
    color: rgba(78, 78, 78, 0.705);
}


.counter{
    width: 60px !important;
    display: flex;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
}
.counter .increment{
    border-left: 1px solid black;
    transition: 0.6s;
    border-radius: 30px;
}

.counter .decrement{
    border-right:1px solid black ;
    transition: 0.6s;
    border-radius: 30px;


}
.counter .increment:hover,.decrement:hover{
    cursor: pointer;
    background-color: #120061;
    color: white;
}

.no_products{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}
.errorPage{
    margin-top: 30px;
    background-image: url('../assets/images/ErrorPage.png');
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
.error-text{
    text-align: center;
}

#popupWrapper{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 2;
  }
  #popup{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width:300px ;
    margin:10% auto;
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    display: block;
    color: red;
    z-index: 4;
    animation-name            : pulse;
    animation-duration        : 0.8s;
    /* animation-iteration-count : infinite; */
  }
  #popupClose{
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  .admin-icon:hover{
    color:orange !important;
    cursor: pointer;
    font-size: 200%;
  }
  .close-del{
      height: 100vh;
      width: 100vw;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
     
  }
  @keyframes pulse {
    from { transform: scale(0);}
    to   { transform: scale(1);}
  }
