.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home-header{
  height: 700px;
  background-image: url(./assets/images/Home1.jpg);
  background-position: center;
  /* background: #3E5151;   */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  */
   /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #DECBA4, #3E5151);  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-title{
  position: absolute;
  width: 300px;
  text-align: center;
  font-family: 'Dela Gothic One', cursive;
  color: white;
}
.sort-label{
  float:left;
}
.login-bg{
  margin-top: 30px;
  background-image: url('./assets/images/login-bg.jpg');
  min-height: 90vh;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
  justify-content: center;
  align-items: center;

  /* min-width: 100vw; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.z-i{
  z-index: 2;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;

}
.link-to-login:hover{
  color: rgb(118, 118, 252) !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.input-wrapper{
  /* width: 450px; */
  background: white;
  padding: 25px;  
  margin: 1% auto;
}
.input-wrapper .input-data{
  height: 20px;
  width: 100%;
  position: relative;
}
.input-wrapper .input-data input{
  outline: none !important;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver !important;
}
.input-data input:focus ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  /* color: #4158d0; */
}
.input-data input:focus ~ label{
  border: 0 !important;
  transform: translateY(-12px);
  font-size: 15px;
  /* color: #4158d0; */
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before{
  transform: scaleX(1);
}
.twoInputsInLine{
  width: 46% !important;
}
.oneLineInput{
  width: 99% !important;
}
.threeLineInput{
  width: 30% !important;
}
.checkOut-form-form{
  width: 70%;
  margin: 5% auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* .input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
} */

.input-wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none ;
  transition: all 0.7s ease;
}
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}
.fa-shield{
  font-size: 40px;
  color: rgb(3, 100, 3);
}
.center-payment{
  margin: 30px auto;
  width: 70px;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
